torch==2.3.0 # using older versions of torch/torchvision leads to segmentation fault on Raspberry Pi 3B
torchvision==0.18.0
opencv-python==4.8.1.78
tqdm==4.66.1
numpy==1.26.2
pandas==2.1.3
flwr==1.5.0
sgmllib3k==1.0.0
transforms==0.2.1
matplotlib==3.8.3
pycocotools==2.0.7
setuptools==70.0.0
wandb==0.16.4
plotly==5.21.0
gpiozero==2.0.1